          *{
     margin: 0px;
     padding: 0px;
}

body{
              background: white;
              font-family: arial , helvetica, sans-serif;
              
         }

          #contain{
           /*width: 70%;*/
            width: 1100px;
            margin: 0px auto;
            border: 1px solid black;
          }

          header{
              background:#11635c;
              height: 100px;
              width: 100%;
            margin: 0px;
            text-align: center;
            line-height: 100px;
            color:white; /Esto para el color del titulo/
            border-bottom-color: 3px dashed black;
          }

         nav{
            background:#5fbba7;
            height: 50px ;
            border-bottom: 1px solid black;
         }

          nav ul li{
              float: left;
              list-style: none;
              margin: 10px;
          }

          .clearfix{
             clear:both ;
          }

          #content{
               float: left;
                width: calc(80% - 80px);
                min-height: 500px;
              background:#1c6e5e;
              padding: 40px;
              text-align: center;
.article {
            background-color: rgba(0, 0, 0, 0.6);  /* juego de la transparencia */
            color: #d4f4dd;
            padding: 30px;
            margin-bottom: 20px;
            border-radius: 15px;
            width: 600px;
            position: relative;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 4px 8px rgba(0,0,0,0.5);
            animation: flotando 10s ease-in-out infinite;
            text-align: center;
         }

         .article h2 {
         font-size: 25px;
         color:greenyellow;
         margin-top: 0;
         text-align: center;
         }


         .article:hover {
         transform: scale(1.10);
         box-shadow: 0 8px 16px rgba(0,0,0,0.9);
         text-align: center;
         }


         @keyframes flotando {
          0%   { transform: translateY(0px); }
          50%  { transform: translateY(-10px); }
          100% { transform: translateY(0px); }
         }


           }

        aside{
              float: left;
             width: calc(20% - 20px);
              background:  #cff5e7;
              color: #2e8b77;
              min-height: 2445px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 30px;
          }
        
        footer{
            background: #5fbba7;
            color: #11635c;
            text-align: center;
            height: 50px;
            line-height: 50px;
        }
 body {
  margin: 0;
  background: #000 url(img.jpg) repeat;
}